body {
    background: url("img/calc background.png") repeat-x;
}
.btn {
    background-color: dimgray;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 3px 3px;
    border-radius: 55%;
}
.silver {
    background-color: silver;
    color: black;
}
.orange {
    background-color: orange;
}
button {
    font-size: 20px;
}

.item-header {
    grid-area: header;
}
.but {
    background-color: dimgray;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 3px 3px;
    border-radius: 10%;
}

.calculator {
    font-size: 64px;
    background-color: black;
}

.background{
    background-color: darkblue;
    width: 180px;
}
